{% extends "root/base.html" %}

{% load static %}
{% block extra_head %}

{% endblock %}
{% block content %}

{% if messages %}
    <div class="messages d-block container-fluid alert alert-success" role="alert">
        <ul class="mb-0">
        {% for message in messages %}
            <li class="{{ message.tag }} d-block">
                {{ message }}
            </li>
            {% endfor %}
        </ul>
    </div>
{% endif %}

{% if not object.is_published %}
    <label>Note: This article has not been published yet</label>
{% endif %}

<section class="main-article container-fluid mt-5">
    <div class="row">
        <hgroup class="col-2 offset-md-1">
            <div class="row">
                <h1 class="main-article-heading" style="color: #125B96">{{ article.title }}</h1>
                <h5>
                    by
                    {{ article.author }}
                </h5>
            </div>
            <div class="row">
                <li class="h6 mt-3 d-inline">
                    <a href="{% url 'wiki_article_edit' object.slug %}">Edit this article</a>
                </li>
            </div>
        </hgroup>
        <article class="col-6">
        {% lorem 3 p %}
        <p>{{ article.text|linebreaks }}</p>
        </article>
    </div>
</section>

<section class="related-articles container" style="border-top: 1px grey solid">
    <h2 class="text-center mb-4 mt-3" style="color: #125B96">Related Articles</h2>
<div class="row">

    {% for article in articles_list %}
        <article class="col-4">
          <a href="{% url 'wiki_article_detail' article.slug %}"><img src="{{ article.image_head.url }}" class="d-block mx-auto rounded-circle" style="width: 96px"/></a>
            <h3 class="text-center h5 mt-4" ><a href="{% url 'wiki_article_detail' article.slug %}">{{ article.title }}</a></h3>
          <h6 class="text-center">
              by
              {{ article.author }}
          </h6>
          <p></p>
        </article>
    {% endfor %}

</div>
  </section>

{% comment %}
<h3>Actions</h3>
<ul>

    <li>
        <a href="{% url 'wiki_article_history' object.slug %}">View article history</a>
    </li>
{% endcomment %}
</ul>

{% endblock %}